<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="WeChat">
		<meta name="author" content="SongZehao">

		<link rel="shortcut icon" href="/assets/images/favicon.ico">

		<title>WeChat</title>

		<!-- App css -->
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

		<script src="/assets/js/modernizr.min.js"></script>

		<script src="/assets/js/click_effect.js"></script>

		<!-- 百度统计 -->
        <script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?493c10a258b3e0f99e3903b0e23b5ab2";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<div class="account-pages"></div>
		<div class="clearfix"></div>
		<div class="wrapper-page">
			<div class="ex-page-content text-center">
				<div class="text-error">&nbsp;</div>
				<h3 class="text-uppercase font-600">登录失败</h3>
				<p class="text-muted">请检查您的账号和密码是否正确！</p>
				<br> <a class="btn btn-success waves-effect waves-light" href="/login"> 重新登录</a>
	
			</div>
		</div>
		<!-- End wrapper page -->

		<!-- jQuery  -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/detect.js"></script>
		<script src="/assets/js/fastclick.js"></script>
		<script src="/assets/js/jquery.blockUI.js"></script>
		<script src="/assets/js/waves.js"></script>
		<script src="/assets/js/jquery.nicescroll.js"></script>
		<script src="/assets/js/jquery.slimscroll.js"></script>
		<script src="/assets/js/jquery.scrollTo.min.js"></script>

		<!-- App js -->
		<script src="/assets/js/jquery.core.js"></script>
		<script src="/assets/js/jquery.app.js"></script>

	</body>
</html>